<div class="todo" ng-controller="TodoController as todo">
  <!-- Añadir tarea -->
  <form class="todo__form" ng-submit="todo.addTodo();">
    <input type="text" placeholder="Añadir tarea" ng-model="todo.newTodo">
  </form>

  <ul class="todo__list">
    <li ng-repeat="item in todo.list">

      <input type="checkbox"
             id="todo-{{ $index }}"
             ng-model="item.completed"
             ng-change="todo.toggleState(item);">
      <label class="toggle" for="todo-{{ $index }}"></label>
      <!-- Editar tarea -->
      <p ng-dblclick="showEditField = true;" ng-hide="showEditField"> {{ item.title }} </p>
      <div ng-show="showEditField">
          <input type="text"
                 ng-blur="todo.updateTodo(item, $index); showEditField = false;"
                 ng-model="item.title"
                 todo-autofocus="showEditField">
      </div>
      <!-- Borrar tarea -->
      <a href="" ng-click="todo.removeTodo(item, $index);">Borrar</a>

    </li>
  </ul>
  <p class="todo__remaining">
    <span ng-show="todo.getRemaning().length > 0">
      Faltan: {{ todo.getRemaning().length }} de {{ todo.list.length }}
    </span>
    <span ng-show="todo.getRemaning().length === 0">
      Todas las tareas finalizadas!!!
    </span>
  </p>
</div>
